[submodule "Year2/CSU22041-InformationManagement/Group8-WasteManagementCompany"]
	path = Year2/CSU22041-InformationManagement/Group8-WasteManagementCompany
	url = git@github.com:tedski999/CSU22041-InformationManagement-Group8.git
